.modal {
    z-index: 1;
    position: fixed;
    top: 18vh;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    background-color: #fff;
    width: 400px;
    min-height: 200px;
    max-height: 80vh;
    overflow: auto;
    border: 2px solid #000;
    border-radius: 15px 0px 15px 15px;
    box-shadow: -10px 10px 30px -10px rgba(0,0,0,0.75);
    padding: 0px 5px 5px;
    transition: all 1s ease-out;
}
.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.show{
    transform: translateX(0);
}
.hide{
    transform: translateX(105%);
    background-color: #a44bbd;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    filter: blur(10px);
}
.button_card{
    height: 20px;
    padding: 20px 0px;
}