//Fonts
$font-family-text: "Roboto", serif;
$font-family-title: "Inter", sans-serif;

//Font-size
$font-size-name: 48px;
$font-size-text: 20px;
$font-size-footer: 14px;
$font-size-h2: 30px;
$font-size-h3: 17px;

//Font-weight
$font-weight-title: 900;
$font-weight-text: 600;
$font-weight-footer: 400;

//Text-color
$text-color-black: #000;
$text-color-white: #fff;
$text-color-mauve: #a44bbd;
$text-color-h2: #a44bbd;
$text-color-purple: #6068f6;
$text-color-purple-hover: #3a3e98;

//Button-color
$button-bg-color: #a44bbd;
$button-bg-color-hover: #843b98;
$button-bg-color-active: #fff;

//Navbar
$bg-nav-mauve: #a44bbd;
