.artists {
    display: flex;
    flex-direction: row;
}
.artists_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
    margin: 5px 0;
}
.plus_icon {
    display: none;
    z-index: 1;
    position: relative;
    top: -130px;
    width: 50px;
    color: #f0f8ff;
    height: auto;
}
.artists_picture{
        width: 300px;
        height: auto;
}
.artists_card:hover {
    cursor: pointer;
}
.artists_card:hover .artists_picture {
    filter: blur(2px);
}
.artists_card:hover .plus_icon {
    display: block;
}
.artists_card:hover h2 {
    color: gray;
}

@media only screen and (min-width: 768px) {


}
@media only screen and (min-width: 1024px) {
    .artists {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 10px;
    }
    .artists > * {
        flex: 1 0 300px;
    }
}