.artists_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    overflow: hidden;
    margin: 5px 0px;
}
.plus_icon {
    display: none;
    z-index: 1;
    position: relative;
    top: -130px;
    width: 50px;
    color: aliceblue;
    height: auto;
}
.artists_picture{
}
.artists_card:hover{
    color: gray;
    .artists_picture {
        filter: blur(2px);
    }
    .plus_icon {
        display: block;
    }
}
.artists_picture{
        width: 300px;
        height: auto;
    }