section {
    width: 100%;
}
.concertHalls {
    display: flex;
    align-content: space-around;
    /* flex-wrap: wrap; */
}
.concertHalls_card {
    /* flex-grow: 1;
    flex-basis: 100px; */

    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; */
    overflow: hidden;
}
.concertHalls_picture{
    width: 100px;
    height: auto;
}

@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1024px) {

}