.landing_page {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.landing_page_introduction {
    background-color: aqua;
    width: 100%;
    height: 500px;
    /* border: 3px solid #000; */
    /* margin: 0 0 10px; */
}
.landing_page_introduction_text{
    position: absolute;
    right: 35vw;
    top: 50vh;
    background-color: #0000009a;
    color: #fff;
    width: 30%;
    height: 200px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 15px;
}
h2 {
    color: #a44bbd;
}
.landing_page_introduction_background {
    width: 100%;
    height: 500px;
    /* padding-top: 75%;
    box-shadow: 0px 0px 10px #777; */
    background-color: #EDEDED;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
