footer {
    background-color: #a44bbd;
    color: #fff;
    padding-top: 10px;
}
img {
    width: 20px;
    height: auto;
}
.footer_infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.infos {
    display: flex;
    flex-direction: column;
}
span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 30px;
    padding-bottom: 10px;
}
.footer_nav {
    background-color: #000;

}
h2 img {
    width: 150px;
    box-shadow: -10px -10px 15px 0px rgba(0,0,0,0.5);
}
.footer_nav_copy {
    background-color: #000;
    display: flex;
    flex-direction: column;
}
.footer_navbar {
    display: flex;
    justify-content: space-around;
    padding: 0;
    height: 15vh;
    line-height: 15vh;
}
.copyright {
    background-color: #000;
    padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .footer_infos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 150px;
    }
    h2 img {
        width: 150px;
        box-shadow: -10px -10px 15px 0px rgba(0,0,0,0.5);
    }
    .footer_nav_copy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 100%;
    }
    .footer_navbar {
        width: 70%;
        gap: 100px;
        line-height: 100px;
    }
    
.copyright {
    width: 30%;
    height: 100%;
    padding: 38px 0;
}

}
@media only screen and (min-width: 1024px) {

}